* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ecf1f7;
	padding: 2%;
}

.wrapper {
	max-width: 45em;
	margin: 0 auto;
	display: flex;
	flex-direction: column-reverse;
}

.slider {
	height: 80vh;
	display: flex;
	justify-content: center;
}

.img {
	width: 0;
	object-fit: fill;
	transition: all 0.5s ease;
}

.name-wrapper {
    padding: 1rem 0 0 0;
    width: 50%;
	display: flex;
}

.name {
	width: 0;
	font-size: 2rem;
    color: #227ff8;
    font-weight: 700;
	visibility: hidden;
	transition: all 0.3s ease;
}

.down-wrapper {
	display: flex;
	justify-content: space-between;
}

.labels {
	width: 100%;
	display: flex;
	justify-content: center;
}

.lblclass {
    color: #227ff8;
    border: 0.5rem solid rgba(0, 255, 0, 0);
	display: block;
	width: 20%;
	height: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation {
	width: 23%;
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0 0 0;
}

.lb {
	content: "";
	display: block;
	height: 40%;
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;
	background-color: #ffffff;
	border: 0.2em solid #ffffff;
}

.lblclass:hover .lb {
	background-color: #aac9f9;
	border-color: #aac9f9;
}

#r1:checked ~ .slider .img1 {
	width: 100%;
}

#r2:checked ~ .slider .img2 {
	width: 100%;
}

#r3:checked ~ .slider .img3 {
	width: 100%;
}

#r4:checked ~ .slider .img4 {
	width: 100%;
}


#r1:checked ~ .down-wrapper .name-wrapper .n1 {
	width: 100%;
	visibility: visible;
}

#r2:checked ~ .down-wrapper .name-wrapper .n2 {
	width: 100%;
	visibility: visible;
}

#r3:checked ~ .down-wrapper .name-wrapper .n3 {
	width: 100%;
	visibility: visible;
}

#r4:checked ~ .down-wrapper .name-wrapper .n4 {
	width: 100%;
	visibility: visible;
}

input[type="radio"] {
	visibility: hidden;
}

#r1:checked ~ .down-wrapper .navigation .labels .lblclass .lb1 {
	background-color: #227ff8;
    border-color: #65a5f9;

}

#r2:checked ~ .down-wrapper .navigation .labels .lblclass .lb2 {
    background-color: #227ff8;
    border-color: #65a5f9;
}

#r3:checked ~ .down-wrapper .navigation .labels .lblclass .lb3 {
    background-color: #227ff8;
    border-color: #65a5f9;
}

#r4:checked ~ .down-wrapper .navigation .labels .lblclass .lb4 {
    background-color: #227ff8;
    border-color: #65a5f9;
}

@media (max-width: 600px) {
	.name {
		text-align: center;
	}
	.wrapper {
		padding: 5%;
	}
	.slider {
		max-height: 20em;
	}
	.down-wrapper {
		flex-direction: column-reverse;
		align-items: center;
	}
	.navigation {
		height: 2em;
		width: 60%;
	}
	.lb {
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
	}
	.name-wrapper {
		width: 100%;
	}
}